*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root{
    --vermelho: #ff0000;
    --amarelo: #FFEA00;
    --font-title: "Chau Philomene One", sans-serif;
}

.interface{
    max-width: 1450px;
    margin: 0 auto;
    padding: 0 4%;
}

html{
    scroll-behavior: smooth;
} 

body{
    background-color: #000;
}

/* ESTILO DO HEADER(MENU) */
header .interface{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header .interface img{
    width: 150px;
    height: auto;
}

header .interface nav ul{
    display: flex;
    gap: 40px;
}

header .interface nav ul li{
    color: #fff;
    list-style-type: none;
}



/* ESTILO DO INÍCIO */

/* ESTILO DO SOBRE */

/* ESTILO DO PROJETOS */

/* ESTILO DO CIÊNCIA FORENSE */

/* ESTILO DO EXPERIMENTOS */

/* ESTILO DO FOOTER(RODAPÉ) */